@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  background-color: #16161a;
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h2 {
  padding-top: 120px;
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* The following code will be used
    for nav bar responsiveness
*/
.Home {
  display: inline-block;
  position: relative;
  padding-top: 20px;
}
.Home-Button {
  background-color: none;
  border: 2px solid #d03f53;
  font-size: 20px;
  display: inline-block;
  flex-wrap: wrap;
  min-width: 100px;
  min-height: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  position: relative;
  margin-left: 10px;
  outline: none;
  transition: 0.4s ease;
}
.Nav {
  left: 345px;
  position: absolute;
  display: inline-block;
  align-items: center;
  padding-top: 20px;
}
.Nav-Buttons {
  background-color: none;
  border: 2px solid #d03f53;
  font-size: 20px;
  display: inline-block;
  flex-wrap: wrap;
  min-width: 200px;
  min-height: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  position: relative;
  margin-left: 10px;
  outline: none;
  transition: 0.4s ease;
}
.Home-Button:hover {
  background-position: bottom;
  background-color: #d03f53;
}
.Nav-Buttons:hover {
  background-position: bottom;
  background-color: #d03f53;
}

/* Nav */
.nav-link {
  color: white;
}
.navbar-nav {
  margin-left: 12%;
}

.navbar-toggler {
  background-color: #d03f53;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.nav-item {
  
  background-color: none;
  border: 2px solid #d03f53;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  transition: 0.4s ease;
  color: white;
  font-size: 20px;
  width: 170px;
  text-align: center;

}

.nav-item:hover {
  background-color: #d03f53;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}