/* Nav */
.nav-link {
  color: white;
}
.navbar-nav {
  margin-left: 12%;
}

.navbar-toggler {
  background-color: #d03f53;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.nav-item {
  background-color: none;
  border: 2px solid #d03f53;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  transition: 0.4s ease;
  color: white;
  font-size: 20px;
  width: 170px;
  text-align: center;
}
.nav-item:hover {
  background-color: #d03f53;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}
#noScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#noScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  font-family: "Fauna One", serif;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #16161a;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  height: 98%;
  padding: 5px;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.eventText {
  top: 25%;
  left: 0%;
  position: absolute;
  font-size: 0px;
  color: #16161a;
  transition: 1s;
  padding: 10px;
}
section:hover .eventText {
  color: #d03f53;
  font-size: 25px;
  background: #3c3e42;
  opacity: 90%;
}
section:hover {
  background-image: url(genshinBackground.jpg);
  opacity: 100%;
}
section:hover .section__title {
  color: #d03f53;
  font-size: 35px;
  top: 20%;
  font-weight: bolder;
}
#test {
  width: 500%;
  background: blue;
}
section {
  height: 98%;
  width: calc(50% / 5);
  float: left;
  position: relative;
  margin: 10px;
  opacity: 40%;
  background: #16161a;
  transition: 2s;
}
.sections {
  width: 400%;
  height: 100%;
  background: rgb(22, 22, 26);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 26, 1) 0%,
    rgba(60, 62, 66, 1) 64%,
    rgba(159, 159, 159, 1) 100%
  );
}

.section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  transition: 1s;
}
